.header {
  --photo-width: 140px;
  --logo-width: 24px;
  --header-height: 30px;
  background-color: var(--primary-bg);
  color: var(--primary-fg);
  position: fixed;
  top: 0%;
  display: flex;
  flex-flow: row;
  width: 100%;
  min-height: calc(var(--photo-width) / 2);
  height: fit-content;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.header.scrolled {
  min-height: max-content;
  height: var(--header-height);
}

.header_image,
.header_image img {
  border-bottom-right-radius: 25%;
  transition: all 0.5s;
}

.header_image {
  width: var(--photo-width);
  height: var(--photo-width);
  margin-bottom: calc(var(--header-height) - var(--photo-width));
  align-self: flex-start;
  background: center / contain no-repeat url("../../assets/initials_circle.png");
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 0.5rem;
}

.header_image.scrolled {
  width: var(--header-height);
  height: var(--header-height);
  background-size: var(--logo-width);
  box-shadow: none;
  border-radius: 50%;
}

.header_image.scrolled img {
  opacity: 0;
}

.title {
  flex: 1;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  transition: all 0.5s;
}

.title.scrolled {
  font-weight: normal;
  font-size: 1rem;
}

.header .invisible {
  max-width: var(--photo-width);
}

.header.scrolled .invisible {
  max-width: var(--header-height);
}
