.footer {
  background: var(--tertiary-bg);
  color: var(--tertiary-fg);
  position: fixed;
  bottom: 0;
  height: fit-content;
  min-height: var(--footer-height);
  width: 100%;
  padding: 0 10px 0 10px;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
}

.footer-item {
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.footer div {
  width: fit-content;
  height: fit-content;
  min-height: var(--footer-height);
  padding: 0 6px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.footer a {
  color: var(--tertiary-fg);
  width: fit-content;
  height: fit-content;
  min-height: var(--footer-height);
  padding: 0 6px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.footer a span {
  margin-left: calc(var(--main-width) / 240);
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  background-color: var(--tertiary-bg-hl);
}
