.footer {
  background: var(--tertiary-bg);
  color: var(--tertiary-fg);
  position: fixed;
  bottom: 0;
  height: fit-content;
  min-height: 22px;
  width: 100%;
  padding: 0 10px 0 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
}

.footer-item {
  height: 100%;
  padding: 0 6px;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

a:hover,
a:focus,
a:active {
  background-color: black;
}
