.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  min-height: 100%;
  width: 100%;
}

.main {
  padding: 70px 10px 22px 140px; 
  flex: 1;
  width: 100%;
  background: var(--secondary-bg);
  color: var(--secondary-fg);
}
