.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  width: 100%;
}

.invisible {
  visibility: hidden;
  flex: 1;
  transition: all 0.5s;
}

.main {
  margin-top: 64px;
  flex: 1;
  width: 100%;
  background: #21252b;
  color: #abb2bf;
  transition: margin-top 0.5s;
}

.footer {
  background: #0d1114;
  position: fixed;
  bottom: 0;
  color: #cccccc;
  border-top: 0pt solid #000000;
  font-size: 0.75rem;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
  height: 22px;
}

.footer div {
  padding: 0;
  margin: 0;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.footer a {
  height: inherit;
  padding: 0;
  margin: 0;
  background-color: #0d1114;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  background-color: #000000;
}