@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

:root {
  font-size: 112.5%;
  --primary-bg: #2c3e50;
  --primary-fg: #ecf0f1;
  --primary-bg-hl: #ffffff22;
  --primary-fg-hl: #82aaff;
  --secondary-bg: #1abc9c;
  --secondary-fg: #eeeeee;
  --tertiary-bg: #dddddd;
  --tertiary-fg: #2c3e50;
  --tertiary-bg-hl: #00000011;
  --border-color: #384f66;
  --main-width: 960px;
  --footer-height: 22px;
}

body {
  margin: 0;
  font-family: "Fira Code", -apple-system, BlinkMacSystemFont, "Arial",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--secondary-bg);
  color: var(--secondary-fg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: var(--primary-fg-hl);
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  background: var(--primary-bg-hl);
  text-decoration: none;
}

.invisible {
  visibility: hidden;
  flex: 1 1 0px;
  transition: all 0.5s;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}
