:root {
  font-size: 112.5%;
  --primary-bg: #282c34;
  --primary-fg: #9da5b4;
  --secondary-bg: #21252b;
  --secondary-fg: #abb2bf;
  --tertiary-bg: #0D1114;
  --tertiary-fg: #cccccc;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--secondary-bg);
  color: var(--secondary-fg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

.invisible {
  visibility: hidden;
  flex: 1;
  transition: all 0.5s;
}
